@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-component {
  background-color: #cecdc4; /* Cor de fundo personalizada */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: grid;
  place-items: center; /* Centraliza horizontal e verticalmente */
  height: 100vh; /* Define a altura como 100% da altura da janela */
}

#form {
  background-color: #cecdc4;
  padding: 20px;
  border: 0;
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #cecdc4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.center-title {
  color: #1b2eff;
  font-size: 36px;
  line-height: 1.5; /* Ajuste o valor conforme necessário */
}


.top-left-image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login-button {
  width: 100%;
  background-color: #1b2eff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #1b2eff;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

.email-field,
.pass-field {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  border-radius: 10px;
}

.email-field {
  background-image: url('account_circle.png');
}

.pass-field {
  background-image: url('lock.png');
}

@media screen and (max-width: 767px) {
  #form {
    padding: 10px;
  }
  .center-title {
    font-size: 28px;
  }
  .login-button {
    margin-top: 10px;
  }
  .email-field,
  .pass-field {
    padding-left: 30px;
  }

  .top-left-image {
    max-width: 40%;
  }
}

.alert {
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.success {
  background-color: #4caf50; /* Verde */
  color: #fff;
}

.error {
  background-color: #f44336; /* Vermelho */
  color: #fff;
}
