
.mainpage-container {
  background-color: #ffffff;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 20px;

}



.categories-title {
  font-size: 24px;
  margin-top: 20px;
}

.curso-images {
  display: flex;
  flex-wrap: wrap; /* Para ajustar os cursos à largura da tela */
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 10px;
  margin:50px;

}




.course-container {
  width: 420px; /* Especifica uma largura fixa */
  height: 500px;
  margin: 0 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
  color: rgb(2, 2, 62);
  height: 500px;
  box-shadow: 5px 10px 10px grey;
  border-radius: 30px;
  padding:20px;
  text-align: center;
  transition: all 0.3s;

}



.course-container img {
  max-width: 100%;
  height: 40vh;
  border-radius: 10px;
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
  display: block; /* Corrija um problema com a margem automática (margin: 0 auto) */
}

.course-container:hover {
  transform: scale(1.1); /* Aplique uma escala de 110% quando o mouse estiver sobre o elemento */
  box-shadow: 10px 20px 20px grey; /* Ajuste a sombra para dar uma sensação de elevação */
}

/* Estilos para os botões de navegação */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button, .add-course-button {
  background-color: #1B2EFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}



.pagination-button:disabled {
  background-color: #929292;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .course-container {
    max-width: 90%;
    height: auto;
    flex-direction: row; /* Reverta para a disposição em linha para telas menores */
  }
  .course-container img {
    max-width: 100%;
    height: auto;
  }
}