
.mainpage-container {
  background-color: #ffffff;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 20px;

}



.categories-title {
  font-size: 24px;
  margin-top: 20px;
}

.curso-images {
  display: flex;
  flex-wrap: wrap; /* Para ajustar os cursos à largura da tela */
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
}

.course-container {
  flex: 0 0 calc(33.33% - 20px);
  margin: 0 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #000000
}

.course-container img {
  max-width: 100%;
}

/* Estilos para os botões de navegação */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #1B2EFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-button:disabled {
  background-color: #929292;
  cursor: not-allowed;
}
